.content {
  display: grid;
  grid-template-columns: 1fr auto 1fr auto 2fr;
}

app-side-bar {
  grid-column: 2 / 2;
}

.home {
  margin: 20px auto;
  width: 100%;
  grid-column: 4 / 4;
}

.user-preview {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.image-class {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image-class img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.tag-list {
  max-width: 400px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

  .tag-list h5 {
    padding: 3px;
  }
