<div class="content">
  <app-side-bar></app-side-bar>
  <div class="home">
    <div class="card text-center bg-dark text-white">
      <div class="card-header">
        <h5 class="card-title">Find your future employee or employer and evaluate their work!</h5>
      </div>
      <div class="card-body">
        <input type="text" (change)="findUsersByName($event)" class="form-control" placeholder="Find user by name">
      </div>
    </div>
    <div *ngFor="let user of findedUsers" (click)="redirectToUser($event)" class="user-preview card bg-dark text-white" id="userPreview_{{user.id}}">
      <div class="image-class">
        <img src="{{user.imageLink}}" alt="User Image">
      </div>
      <div class="card-body text-center info">
        <h3>
          <span class="badge-pill badge-primary">{{user.fullName}}</span>
        </h3>
        <h4>
          <span class="badge badge-info">{{user.status}}</span>
        </h4>
        <div *ngIf="user.tags.length">
          <h4>Skills</h4>
          <div class="tag-list">
            <h5 *ngFor="let tag of user.tags">
              <span class="badge-pill badge-warning">{{tag}}</span>
            </h5>
          </div>
        </div>
        <h4>Rating</h4>
        <h3>
          <span class="badge badge-primary">{{user.rating.toFixed(1)}} / 5</span>
        </h3>
      </div>
    </div>
  </div>
</div>

