<div class="login-form-container row no-gutters">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="card text-white bg-dark my-5">
      <div class="card-header">
        <h2 class="card-title text-center">Login</h2>
      </div>
      <form class="card-body" [formGroup]="loginForm" (submit)="onSubmit()">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" class="form-control" placeholder="Enter email" formControlName="email" id="email">
          <span *ngIf="submitted && f.email.errors" class="text-danger">
            <span *ngIf="f.email.errors.required">Email is required</span>
            <span *ngIf="f.email.errors.email">Email format is incorrect</span>
            <span *ngIf="f.email.errors.minlength">Min length is 4 symbols</span>
            <span *ngIf="f.email.errors.maxlength">Max length is 20 symbols</span>
          </span>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" placeholder="Enter password" formControlName="password" id="password">
          <span *ngIf="submitted && f.password.errors" class="text-danger">
            <span *ngIf="f.password.errors.required">Password is required</span>
            <span *ngIf="f.password.errors.minlength">Min length is 4 symbols</span>
            <span *ngIf="f.password.errors.maxlength">Max length is 20 symbols</span>
          </span>
        </div>
        <button [disabled]="loading" type="submit" class="btn btn-secondary btn-outline-success btn-block">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>Sign In
        </button>
        <span *ngIf="error" class="text-danger">{{error}}</span>
      </form>
      <div class="card-footer">
        <p class="text-center font-weight-light mb-0">
          I don't have an account.
          <a [routerLink]="['/register']">Sign up</a>
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-3"></div>
</div>
