.content {
  display: grid;
  grid-template-columns: 1fr auto 1fr 60% 2fr;
}

app-side-bar {
  grid-column: 2 / 2;
}

.profile {
  margin: 20px auto;
  grid-column: 4 / 4;
  display: flex;
  flex-direction: column;
  max-width: 1000px;
}

.profile-info {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.image-class {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

  .image-class img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
  }

.personal-data {
  padding: 20px;
}

.address-row {
  display: flex;
  flex-direction: row;
}

  .address-row div {
    padding: 10px;
  }

.education-row {
  display: flex;
  flex-direction: row;
}

  .education-row div {
    padding: 10px;
  }

.job-row h4 {
  padding: 10px;
}

button {
  width: fit-content;
  margin: 10px;
}

.comments {
  padding: 10px;
  display: flex;
  flex-direction: row;
}

.existing-tag-descrioptions {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.comment-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

  .comment-user h6 span {
    white-space: nowrap;
  }

  .comment-user img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
  }

.comment {
  overflow: auto;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between
}

.comment-tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.comment-text {
  overflow-wrap: break-word;
}

.button {
  border: 0;
  margin: 0;
  background: 0 0;
  cursor: pointer;
}
