<div class="content">
  <app-side-bar></app-side-bar>
  <div class="profile">
    <div class="profile-info card bg-dark text-white">
      <div class="image-class">
        <h4>
          <span class="badge badge-info">
            {{userProfile?.status}}
            <button *ngIf="isAdmin || isOwner" type="button" class="button" data-toggle="modal" data-target="#editStatus"><i class="fas fa-pencil-alt"></i></button>
          </span>
        </h4>
        <img src="{{userProfile?.imageLink}}" alt="User Image">
        <h3>
          <span class="badge-pill badge-primary">{{userProfile?.fullName}}</span>
        </h3>
        <h3>
          <span class="badge badge-primary">{{userProfile?.rating.toFixed(1)}} / 5</span>
        </h3>
      </div>
      <div class="personal-data">
        <h1>
          <span class="badge badge-pill badge-warning">
            Personal data
            <button *ngIf="isAdmin || isOwner" type="button" (click)="onSetEditProfileForm()" class="button" data-toggle="modal" data-target="#editProfile"><i class="fas fa-pencil-alt"></i></button>
            <button *ngIf="isAdmin && !isOwner" type="button" class="button" data-toggle="modal" data-target="#deleteProfile"><i class="fas fa-trash-alt"></i></button>
          </span>
        </h1>
        <div class="address-row">
          <div>
            <h3>
              <span class="badge badge-pill badge-secondary">Email</span>
            </h3>
            <h4>
              <span class="badge badge-info">{{userProfile?.email}}</span>
            </h4>
          </div>
          <div>
            <h3>
              <span class="badge badge-pill badge-secondary">Address</span>
            </h3>
            <h4>
              <span class="badge badge-info">{{userProfile?.country}}, {{userProfile?.city}}</span>
            </h4>
          </div>
        </div>
        <h3 *ngIf="userProfile?.school || userProfile?.univercity || userProfile?.speciality">
          <span class="badge badge-pill badge-warning">Education</span>
        </h3>
        <div *ngIf="userProfile?.school || userProfile?.univercity || userProfile?.speciality" class="education-row">
          <div *ngIf="userProfile?.school">
            <h3>
              <span class="badge badge-pill badge-success">School</span>
            </h3>
            <h4>
              <span class="badge badge-info">{{userProfile?.school}}</span>
            </h4>
          </div>
          <div *ngIf="userProfile?.univercity || userProfile?.speciality">
            <h3>
              <span class="badge badge-pill badge-success">University</span>
            </h3>
            <h4>
              <span class="badge badge-info">{{userProfile?.university}}</span>
            </h4>
            <h4>
              <span class="badge badge-info">{{userProfile?.speciality}}</span>
            </h4>
          </div>
        </div>
        <div *ngIf="userProfile?.job" class="job-row">
          <h3>
            <span class="badge badge-pill badge-warning">Job</span>
          </h3>
          <h4>
            <span class="badge badge-info">{{userProfile?.job}}</span>
          </h4>
        </div>
      </div>
    </div>
    <h2 *ngIf="tagDescriptions?.length" class="comments ml-auto mr-auto">
      <span class="badge badge-pill badge-info">Skills</span>
    </h2>
    <div *ngFor="let tagDescrioption of tagDescriptions" class="existing-tag-descrioptions card bg-dark text-white" id="{{tagDescrioption.tagId}}">
      <h3>
        <span class="badge badge-pill badge-warning">
          {{tagDescrioption.tagName}}
          <button *ngIf="isAdmin || isOwner" type="button" (click)="onSetTagDescId(tagDescrioption.id)" class="button" data-toggle="modal" data-target="#deleteTagDesc"><i class="fas fa-trash-alt"></i></button>
        </span>
      </h3>
      <span class="text-md-left">{{tagDescrioption.description}}</span>
    </div>
    <div class="container text-center">
      <button *ngIf="isOwner || isAdmin" type="button" class="text-center btn btn-primary" data-toggle="modal" data-target="#addTagDescription">Add description</button>
    </div>
    <h2 *ngIf="commentsForUser?.length || commentsByUser?.length" class="comments ml-auto mr-auto">
      <span class="badge badge-pill badge-info">Comments</span>
    </h2>
    <div *ngIf="(commentsForUser?.length || commentsByUser?.length) && (isOwner || isAdmin)" class="btn-group btn-group-toggle" data-toggle="buttons">
      <label class="btn btn-secondary active">
        <input type="radio"
               value="true"
               [checked]="isCommentsForUser === true"
               (click)="onSetViewComments(true)"
               name="isCommentsForUser" checked> Received
      </label>
      <label class="btn btn-secondary">
        <input type="radio"
               value="false"
               [checked]="isCommentsForUser === false"
               (click)="onSetViewComments(false)"
               name="isCommentsForUser"> Sent
      </label>
    </div>
    <div *ngIf="isCommentsForUser">
      <div *ngFor="let comment of commentsForUser" class="comments card bg-dark text-white" id="{{comment.id}}">
        <div class="comment-user" (click)="redirectToUser($event)" id="userComment_{{comment.userSenderId}}">
          <h6>
            <span class="badge-pill badge-info">Left {{comment.rating}}/5</span>
          </h6>
          <img src="{{comment.imageLinkUserSender}}" alt="User Image">
          <h6>
            <span class="badge-pill badge-primary">{{comment.fullNameUserSender}}</span>
          </h6>
        </div>
        <div class="comment">
          <div *ngFor="let tag of comment.tags" class="comment-tags" id="{{tag.id}}">
            <h5>
              <span class="badge badge-pill badge-warning">{{tag.tagName}}</span>
            </h5>
          </div>
          <div class="comment-text">
            {{comment.text}}
          </div>
          <div>
            <span class="comment-date badge badge-pill badge-success">
              {{comment.dateCreated}}
              <button *ngIf="isAdmin || isOwner" type="button" (click)="onSetEditCommentForm(comment.id, comment.text)" class="button" data-toggle="modal" data-target="#editComment"><i class="fas fa-pencil-alt"></i></button>
              <button *ngIf="isAdmin || isOwner" type="button" (click)="onSetCommentId(comment.id)" class="button" data-toggle="modal" data-target="#deleteComment"><i class="fas fa-trash-alt"></i></button>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="!isCommentsForUser">
      <div *ngFor="let comment of commentsByUser" class="comments card bg-dark text-white" id="{{comment.id}}">
        <div class="comment-user" (click)="redirectToUser($event)" id="userComment_{{comment.userReceiverId}}">
          <h6>
            <span class="badge-pill badge-info">Sent {{comment.rating}}/5</span>
          </h6>
          <img src="{{comment.imageLinkUserReceiver}}" alt="User Image">
          <h6>
            <span class="badge-pill badge-primary">{{comment.fullNameUserReceiver}}</span>
          </h6>
        </div>
        <div class="comment">
          <div *ngFor="let tag of comment.tags" class="comment-tags" id="{{tag.id}}">
            <h5>
              <span class="badge badge-pill badge-warning">{{tag.tagName}}</span>
            </h5>
          </div>
          <div class="comment-text">
            {{comment.text}}
          </div>
          <div>
            <span class="comment-date badge badge-pill badge-success">
              {{comment.dateCreated}}
              <button *ngIf="isAdmin || isOwner" type="button" (click)="onSetEditCommentForm(comment.id, comment.text)" class="button" data-toggle="modal" data-target="#editComment"><i class="fas fa-pencil-alt"></i></button>
              <button *ngIf="isAdmin || isOwner" type="button" (click)="onSetCommentId(comment.id)" class="button" data-toggle="modal" data-target="#deleteComment"><i class="fas fa-trash-alt"></i></button>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="container text-center">
      <button *ngIf="!isOwner" type="button" class="text-center btn btn-primary" data-toggle="modal" data-target="#addComment">Add comment</button>
    </div>
  </div>
</div>

<!--Edit Profile Modal-->
<div *ngIf="isOwner || isAdmin" class="modal fade" id="editProfile">
  <form [formGroup]="editProfileForm" (submit)="onEditProfile()">
    <div class="modal-dialog">
      <div class="modal-content container">
        <div class="modal-header ml-auto mr-auto">
          <h5 class="modal-title">Edit profile</h5>
        </div>
        <div class="form-group">
          <label for="firstName">First name</label>
          <input type="text" class="form-control" placeholder="First name (Optional)" formControlName="firstName" id="firstName">
          <span *ngIf="editProfileF.firstName.errors" class="text-danger">
            <span *ngIf="editProfileF.firstName.errors.required">First name is required</span>
            <span *ngIf="editProfileF.firstName.errors.minlength">Min length is 2 symbols</span>
            <span *ngIf="editProfileF.firstName.errors.maxlength">Max length is 20 symbols</span>
          </span>
        </div>
        <div class="form-group">
          <label for="lastName">Last name</label>
          <input type="text" class="form-control" placeholder="Last name" formControlName="lastName" id="lastName">
          <span *ngIf="editProfileF.lastName.errors" class="text-danger">
            <span *ngIf="editProfileF.lastName.errors.required">Last name is required</span>
            <span *ngIf="editProfileF.lastName.errors.minlength">Min length is 2 symbols</span>
            <span *ngIf="editProfileF.lastName.errors.maxlength">Max length is 20 symbols</span>
          </span>
        </div>
        <div class="form-group">
          <label for="lastName">Image link</label>
          <input type="text" class="form-control" placeholder="Image link" formControlName="imageLink" id="imageLink">
          <span *ngIf="editProfileF.imageLink.errors" class="text-danger">
            <span *ngIf="editProfileF.imageLink.errors.maxlength">Max length is 100 symbols</span>
          </span>
        </div>
        <h5 class="card-title text-center">Address</h5>
        <div class="form-group">
          <label for="country">Country</label>
          <input type="text" class="form-control" placeholder="Country" formControlName="country" id="country">
          <span *ngIf="editProfileF.country.errors" class="text-danger">
            <span *ngIf="editProfileF.country.errors.required">Country is required</span>
            <span *ngIf="editProfileF.country.errors.minlength">Min length is 2 symbols</span>
            <span *ngIf="editProfileF.country.errors.maxlength">Max length is 20 symbols</span>
          </span>
        </div>
        <div class="form-group">
          <label for="city">City</label>
          <input type="text" class="form-control" placeholder="City" formControlName="city" id="city">
          <span *ngIf="editProfileF.city.errors" class="text-danger">
            <span *ngIf="editProfileF.city.errors.required">City is required</span>
            <span *ngIf="editProfileF.city.errors.minlength">Min length is 2 symbols</span>
            <span *ngIf="editProfileF.city.errors.maxlength">Max length is 20 symbols</span>
          </span>
        </div>
        <h5 class="card-title text-center">Education and job</h5>
        <div class="form-group">
          <label for="school">School</label>
          <input type="text" class="form-control" placeholder="School (Optional)" formControlName="school" id="school">
          <span *ngIf="editProfileF.school.errors" class="text-danger">
            <span *ngIf="editProfileF.school.errors.maxlength">Max length is 40 symbols</span>
          </span>
        </div>
        <div class="form-group">
          <label for="university">University</label>
          <input type="text" class="form-control" placeholder="University (Optional)" formControlName="university" id="university">
          <span *ngIf="editProfileF.university.errors" class="text-danger">
            <span *ngIf="editProfileF.university.errors.maxlength">Max length is 40 symbols</span>
          </span>
        </div>
        <div class="form-group">
          <label for="university">Speciality</label>
          <input type="text" class="form-control" placeholder="Speciality (Optional)" formControlName="speciality" id="speciality">
          <span *ngIf="editProfileF.speciality.errors" class="text-danger">
            <span *ngIf="editProfileF.speciality.errors.maxlength">Max length is 40 symbols</span>
          </span>
        </div>
        <div class="form-group">
          <label for="job">Job</label>
          <input type="text" class="form-control" placeholder="Job (Optional)" formControlName="job" id="job">
          <span *ngIf="editProfileF.job.errors" class="text-danger">
            <span *ngIf="editProfileF.job.errors.maxlength">Max length is 40 symbols</span>
          </span>
        </div>
        <div class="ml-auto mr-auto">
          <button type="submit" [disabled]="loading" class="btn btn-success">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Edit
          </button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Back</button>
        </div>
      </div>
    </div>
  </form>
</div>

<!--Edit Profile Status Modal-->
<div *ngIf="isOwner || isAdmin" class="modal fade" id="editStatus">
  <form [formGroup]="editStatusForm" (submit)="onEditStatus()">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header ml-auto mr-auto">
          <h5 class="modal-title">Edit status</h5>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="tagId">Status</label>
            <br>
            <select class="form-select" formControlName="statusId">
              <option value="" disabled selected>Select your option</option>
              <option *ngFor="let status of statuses" value="{{status.id}}">{{status.userStatus}}</option>
            </select>
            <br>
            <span *ngIf="editStatusF.statusId.errors" class="text-danger">
              <span *ngIf="editStatusF.statusId.errors.required">Status is required</span>
            </span>
          </div>
        </div>
        <div class="ml-auto mr-auto">
          <button type="submit" [disabled]="loading" class="btn btn-success">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Edit
          </button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Back</button>
        </div>
      </div>
    </div>
  </form>
</div>

<!--Delete Profile Modal-->
<div *ngIf="!isOwner && isAdmin" class="modal fade" id="deleteProfile">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header ml-auto mr-auto">
        <h5 class="modal-title">Do you really want to delete this account?</h5>
      </div>
      <div class="ml-auto mr-auto">
        <button type="button" (click)="onDeleteProfile()" data-dismiss="modal" class="btn btn-danger">Delete</button>
        <button type="button" class="btn btn-success" data-dismiss="modal">Back</button>
      </div>
    </div>
  </div>
</div>

<!--Add Tag Description Modal-->
<div *ngIf="isOwner || isAdmin" class="modal fade" id="addTagDescription">
  <form [formGroup]="addTagDescForm" (submit)="onAddTagDescription()">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header ml-auto mr-auto">
          <h5 class="modal-title">Add new description</h5>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="tagId">Tag</label>
            <br>
            <select class="form-select" formControlName="tagId">
              <option *ngFor="let tag of tags" value="{{tag.id}}">{{tag.tagName}}</option>
            </select>
            <br>
            <span *ngIf="addTagDescF.tagId.errors" class="text-danger">
              <span *ngIf="addTagDescF.tagId.errors.required">Tag is required</span>
            </span>
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <textarea type="text" class="form-control" formControlName="description" placeholder="Your description" rows="3"></textarea>
            <span *ngIf="addTagDescF.description.errors" class="text-danger">
              <span *ngIf="addTagDescF.description.errors.required">Description is required</span>
              <span *ngIf="addTagDescF.description.errors.minlength">Min length is 10 symbols</span>
              <span *ngIf="addTagDescF.description.errors.maxlength">Max length is 1000 symbols</span>
            </span>
          </div>
        </div>
        <div class="ml-auto mr-auto">
          <button type="submit" [disabled]="loading" class="btn btn-success">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Add
          </button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Back</button>
        </div>
      </div>
    </div>
  </form>
</div>

<!--Delete Tag Description Modal-->
<div *ngIf="isOwner || isAdmin" class="modal fade" id="deleteTagDesc">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header ml-auto mr-auto">
        <h5 class="modal-title">Do you really want to delete this description?</h5>
      </div>
      <div class="ml-auto mr-auto">
        <button type="button" (click)="onDeleteTagDesc()" data-dismiss="modal" class="btn btn-danger">Delete</button>
        <button type="button" class="btn btn-success" data-dismiss="modal">Back</button>
      </div>
    </div>
  </div>
</div>

<!--Add Comment Modal-->
<div *ngIf="!isOwner" class="modal fade" id="addComment">
  <form [formGroup]="addCommentForm" (submit)="onAddComment()">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header ml-auto mr-auto">
          <h5 class="modal-title">Add new comment about this person</h5>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="tagId">Tag</label>
            <br>
            <select class="form-select" formControlName="tagId">
              <option value="" disabled selected>Select your option</option>
              <option *ngFor="let tag of tags" value="{{tag.id}}">{{tag.tagName}}</option>
            </select>
            <br>
            <span *ngIf="addCommentF.tagId.errors" class="text-danger">
              <span *ngIf="addCommentF.tagId.errors.required">Tag is required</span>
            </span>
          </div>
          <div class="form-group">
            <label for="text">Comment</label>
            <textarea type="text" class="form-control" formControlName="text" placeholder="Your description" rows="3"></textarea>
            <span *ngIf="addCommentF.text.errors" class="text-danger">
              <span *ngIf="addCommentF.text.errors.required">Comment is required</span>
              <span *ngIf="addCommentF.text.errors.minlength">Min length is 10 symbols</span>
              <span *ngIf="addCommentF.text.errors.maxlength">Max length is 1000 symbols</span>
            </span>
          </div>
          <div class="form-group">
            <label for="rating">Your rating to the user</label>
            <br>
            <label>1</label>
            <input type="range" formControlName="rating" class="form-range" min="1" max="5" id="rating">
            <label>5</label>
          </div>
        </div>
        <div class="ml-auto mr-auto">
          <button type="submit" [disabled]="loading" class="btn btn-success">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Add
          </button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Back</button>
        </div>
      </div>
    </div>
  </form>
</div>

<!--Edit Comment Modal-->
<div *ngIf="isOwner || isAdmin" class="modal fade" id="editComment">
  <form [formGroup]="editCommentForm" (submit)="onEditComment()">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header ml-auto mr-auto">
          <h5 class="modal-title">Edit a comment</h5>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <div class="form-group">
              <label for="text">Text</label>
              <textarea type="text" class="form-control" formControlName="text" placeholder="Your text" rows="3"></textarea>
              <span *ngIf="editCommentF.text.errors" class="text-danger">
                <span *ngIf="editCommentF.text.errors.required">Description is required</span>
                <span *ngIf="editCommentF.text.errors.minlength">Min length is 10 symbols</span>
                <span *ngIf="editCommentF.text.errors.maxlength">Max length is 1000 symbols</span>
              </span>
            </div>
          </div>
        </div>
        <div class="ml-auto mr-auto">
          <button type="submit" [disabled]="loading" class="btn btn-success">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Edit
          </button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Back</button>
        </div>
      </div>
    </div>
  </form>
</div>

<!--Delete Comment Modal-->
<div *ngIf="isOwner || isAdmin" class="modal fade" id="deleteComment">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header ml-auto mr-auto">
        <h5 class="modal-title">Do you really want to delete this comment?</h5>
      </div>
      <div class="ml-auto mr-auto">
        <button type="button" (click)="onDeleteComment()" data-dismiss="modal" class="btn btn-danger">Delete</button>
        <button type="button" class="btn btn-success" data-dismiss="modal">Back</button>
      </div>
    </div>
  </div>
</div>
