<nav class="navbar navbar-expand-lg navbar-dark bg-dark row align-self-start">
  <a [routerLink]="['/']" class="navbar-brand">
    <img src="./acc-system-logo.png" class="d-inline-block align-middle logo" alt="">

    <div class="badge badge-success aling-center">
      <h5>Knowledge accounting system</h5>
    </div>
  </a>

  <button (click)="home()" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <div *ngIf="currentUser" class="badge badge-success align-middle welcome-message collapsed-items">
      <h5>Hi, {{currentUser.fullName}}!</h5>
    </div>
    <button *ngIf="currentUser" (click)="logout()" class="nav-link btn btn-sm align-middle btn-warning collapsed-items">Logout</button>
    <button *ngIf="!currentUser" (click)="login()" class="nav-link btn btn-sm align-middle btn-success collapsed-items">Login</button>
  </div>
</nav>
