<div class="list-group side-bar bg-dark position-sticky">
  <button type="button" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" (click)="home()" class="list-group-item list-group-item-action bg-dark text-white" aria-current="true">
    Home
  </button>
  <button type="button" routerLink="/profile" routerLinkActive="active" (click)="profile()" class="list-group-item list-group-item-action bg-dark text-white">
    Profile
  </button>
</div>
